services:
  epics-base:
    image: ghcr.io/cnpem/lnls-debian-11-epics-7:$TAG
    build:
      context: ./
      dockerfile: Dockerfile
      labels:
        org.opencontainers.image.revision: ${TAG}
        org.opencontainers.image.source: https://github.com/cnpem/epics-in-docker
        org.opencontainers.image.description: "EPICS base and modules build image"
      args:
        JOBS: ${JOBS:-1}
        DEBIAN_VERSION: ${DEBIAN_VERSION}
        EPICS_BASE_VERSION: ${EPICS7_BASE_VERSION}
        SEQUENCER_VERSION: ${SEQUENCER_VERSION}
        CALC_VERSION: ${CALC_VERSION}
        ASYN_VERSION: ${ASYN_VERSION}
        STREAMDEVICE_VERSION: ${STREAMDEVICE_VERSION}
        BUSY_VERSION: ${BUSY_VERSION}
        AUTOSAVE_VERSION: ${AUTOSAVE_VERSION}
        SSCAN_VERSION: ${SSCAN_VERSION}
        RECCASTER_VERSION: ${RECCASTER_VERSION}
        IPAC_VERSION: ${IPAC_VERSION}
        AREA_DETECTOR_VERSION: ${AREA_DETECTOR_VERSION}
        MOTOR_VERSION: ${MOTOR_VERSION}
